<div class="mb-3">
  <input [(ngModel)]="filterText" type="text" class="form-control" placeholder="Seach...">
</div>
<ng-template [ngTemplateOutlet]="popular" [ngTemplateOutletContext]="{popular : popularmovies}"></ng-template>
<ng-template [ngTemplateOutlet]="movielist1" *ngIf="movies.length > 0 ; else nomovie" ></ng-template>
<ng-template #popular let-popular = "popular">
  <h2>Popular</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <div class="col" *ngFor="let item of popular">
      <div class="card h-100">
        <img src="assets\img\{{item.imageurl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #movielist1>
<div class="card mb-3" *ngFor="let item of movies | movieFilter : filterText" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets\img\{{item.imageurl}} "  class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description | summary}}</p>
          <p class="card-text">{{item.publishedDate | date: 'dd/MM/y'}}</p>

          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #nomovie>
  <div class="alert alert-warning mt-2">
    Film Bulunamadı.
  </div>

</ng-template>